* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}


/* Background Website */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top, #4be05f, #54f23b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    height: 92vh;
    width: 92%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 99;
    backdrop-filter: blur(.6rem);
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    position: absolute;
    border-radius: 50%;
}

.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    width: 12rem;
    height: 12rem;
    top: 0%;
    right: 0%;
}

.circle2 {
    width: 30rem;
    height: 30rem;
    bottom: -0%;
    left: -10%;
}

.circle3 {
    width: 5rem;
    height: 5rem;
    bottom: 20%;
    right: 60%;
    background-color: rgb(252, 160, 175);
    animation: animasicircle3 3s ease 1000 alternate forwards;
}

.circle4 {
    width: 10rem;
    height: 10em;
    top: 20%;
    right: 30%;
    background-color: orange;
    animation: animasicircle4 3.2s ease 1000 alternate forwards;
}

.circle5 {
    width: 15rem;
    height: 15rem;
    top: 10%;
    right: 70%;
    background-color: darkturquoise;
    animation: animasicircle5 2.4s ease 1000 alternate forwards;
}

.circle6 {
    width: 15rem;
    height: 15rem;
    top: 50%;
    right: 35%;
    background-color: #4f2dff;
    animation: animasicircle6 2.6s ease 1000 alternate forwards;
}

.circle7 {
    width: 15rem;
    height: 15rem;
    top: 77%;
    right: 75%;
    background-color: #a600ff;
    animation: animasicircle7 2.8s ease 1000 alternate forwards;
}

.circle8 {
    width: 2rem;
    height: 2rem;
    top: 70%;
    right: 5%;
    background-color: #ff1010;
    animation: animasicircle8 3s ease 1000 alternate forwards;
}
@keyframes animasicircle3{
    from {
        width: 0rem;
        height: 0rem;
    }

    to {
        width: 10rem;
        height: 10rem;
    }
}
@keyframes animasicircle4 {
    from {
        width: 0rem;
        height: 0rem;
    }

    to {
        width: 15rem;
        height: 15rem;

    }
}
@keyframes animasicircle5 {
    from {
        width: 0rem;
        height: 0rem;
    }

    to {
        width: 20rem;
        height: 20rem;
    }
}
@keyframes animasicircle6 {
    from {
        width: 0rem;
        height: 0rem;
    }

    to {
        width: 13rem;
        height: 13rem;
    }
}
@keyframes animasicircle7 {
    from {
        width: 0rem;
        height: 0rem;
    }

    to {
        width: 7rem;
        height: 7rem;
    }
}
@keyframes animasicircle8 {
    from {
        width: 0rem;
        height: 0rem;
    }

    to {
        width: 8rem;
        height: 8rem;
    }
}

.card .satu {
    width: 560px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 40px 0px 50px 40px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: padding-box;
    line-height: 1.5;
    transition: .2s;
}

.card .dua {
    width: 560px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: -350px 50px 50px 650px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: padding-box;
    line-height: 1.5;
    transition: .2s;
}
.card .satu:hover {
    box-shadow: 
    0px 15px 0px -5px rgba(84,242,59), 
    0px -15px 0px -5px rgb(84,242,59), 
    -15px 0px 0px -5px rgb(84,242,59), 
    15px 0px 0px -5px rgb(84,242,59),
    inset 0px 15px 0px -5px rgba(84,242,59), 
    inset 0px -15px 0px -5px rgb(84,242,59), 
    inset -15px 0px 0px -5px rgb(84,242,59), 
    inset 15px 0px 0px -5px rgb(84,242,59);
    border-radius: 0;
    border: 5px solid rgba(255,255,255,.1);
}
.card .dua:hover {
    box-shadow: 
    0px 15px 0px -5px rgba(84,242,59), 
    0px -15px 0px -5px rgb(84,242,59), 
    -15px 0px 0px -5px rgb(84,242,59), 
    15px 0px 0px -5px rgb(84,242,59),
    inset 0px 15px 0px -5px rgba(84,242,59), 
    inset 0px -15px 0px -5px rgb(84,242,59), 
    inset -15px 0px 0px -5px rgb(84,242,59), 
    inset 15px 0px 0px -5px rgb(84,242,59);
    border-radius: 0;
    border: 5px solid rgba(255,255,255,.1);
}
.boxinfo .info1 {
    width: 560px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: -10px 0 0 40px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 10px 10px 10px rgba(45,55,68,.3);
    border: 2px solid transparent;
    background-clip: padding-box;
    line-height: 1.5;
    transition: .5s;
}
.boxinfo .info2 {
    width: 560px;
    height: 140px;
    background-color: rgba(255, 255, 255, .1);
    margin: -140px 50px 0px 650px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 10px 10px 10px rgba(45,55,68,.3);
    border: 2px solid transparent;
    background-clip: padding-box;
    line-height: 1.5;
    transition: .5s;
}
.boxinfo p {
    font-size: 14px;
}
.boxinfo .info1 .infoweb1 {
    margin: 10px;
}
.boxinfo .info2 .infoweb2 {
    margin: 10px;
}
.boxinfo .info1:hover {
    box-shadow: 0px 80px 10px -40px rgba(0, 0, 0, .15);
    margin-top: -10px;
    transform: scale(1.1);
    background-color: #54f23b;
    border: 3px solid #012000;
}
.boxinfo .info2:hover {
    box-shadow: 0px 80px 10px -40px rgba(0, 0, 0, .15);
    margin-top: -140px;
    transform: scale(1.1);
    background-color: #54f23b;
    border: 3px solid #012000;
}
.back p{
    width: 80px;
    margin-top: 25px;
    margin-left: 50px;
}
.back p a {
    text-decoration: none;
    color: #012000;
}
.footer p {
    font-size: 14px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


/* Responsive Mobile */
@media (max-width:500px) {
    .glass {
        height: 630px;
        width: 360px;
    }
    .card .satu {
        margin: 40px auto;
        width: 325px;
        height: 220px;
    }
    .boxinfo .info1 {
        width: 325px;
        height: 205px;
        margin: -30px auto;
        }
    .boxinfo .info1:hover {
        margin-top: -30px;
        transform: none;
    }
    .boxinfo .info2 {
        none
    }
    .back p {
        margin-top: 40px;
    }
}
